*{
  font-family: sans-serif;
}

form{
  display: flex;
  justify-content: center;
  margin : 40px 0px;
  gap: 30px;
}
input{
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px ;
}
.btn{
  font-size: 18px;
  padding: 0px 25px;
  outline: none;
  background: #0a51d5;
  color: #fff;
  border: none;
  border-radius: 10px ;
  cursor: pointer;
}
.root{
display: flex;
margin-top: 30px;
gap: 30px;
}
.product{
  width: 300px;
  background: #ddd;
border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
}
h2{
  font-size: 22px;
}
h1{
  font-size: 20px;
}
img{
  width: 100%;
}
.product button{
    font-size: 18px;
  padding: 0px 25px;
  outline: none;
  background: #0a51d5;
  color: #fff;
  border: none;
  border-radius: 10px ;
  cursor: pointer;
  padding: 10px 30px;
  display: block;
 margin: auto;
}